$white: #ffffff;
$black: #000000;
$black-14: rgba(0, 0, 0, 0.14);
$basic-yellow: #ffd74b;
$special_yellow_dark: #ffbd30;
$special_orange: #ff8d30;
$special_orange-light: #ffa530;
$calendar-orange: #ff5c23;
$special-filter-orange: #f3c72b;
$special_orange-saturate: #f26926;
$basic-blue-light: #edeff6;
$basic-blue-button: #dfe3f0;
$user-background: #dfe3f0;
$alphabet-button: #d6daed;
$alphabet-button-hover: #c8cee8;
$alphabet-border-hover: #959bb2;
$create-plan: #d4d9eb;
$tooltip: #101d41;
$basic-blue: #161c35;
$basic-blue-medium: #192144;
$basic-tablet: #182044;
$basic-blue-icon: #121936;
$basic-blue-h2: #1d2e5b;
$basic-blue-h2-02: rgba(29, 46, 91, 0.2);
$basic-blue-about: #192144;
$basic-blue-elem: #141b3b;
$special-blue-link: #132576;
$special-grey: #444444;
$basic-grey-line: #e1e3e9;
$footer-grey-line: #f2f2f2;
$modal-close-grey: #f3f4f8;
$modal-close-light: #edeff6;
$alphabet-table: #cbced9;
$heart-pale: #e2e5f2;
$green: #81e31e;
$red: #f47e7e;
$weekend: #ff5c23;
$calendar-month: #d6d9e6;
$heart-pink: #f9eaea;
$plus: #cccccc;
$gradient-white: rgba(255, 255, 255, 0.9);
$cross: #afb0b5;
$plus: #c2c4c9;
$filter-range-hover: #959bb2;
$drop-shadow: rgba(54, 80, 148, 0.18);
