.about {
  background-color: $basic-blue-medium;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet) {
    background-color: $basic-tablet;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  @media (min-width: $desktop) {
    background-color: $basic-blue-about;
  }
}

.about__wrapper {
  @include wrapper();
  position: relative;
  padding: 32px 25px 34px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/about-mobile@1x.png");
  background-size: 292px 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  border-bottom-left-radius: 30px;

  @media (min-resolution: $extra) {
    background-image: url("../img/about-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    @include tablet();
    padding-top: 41px;
    padding-bottom: 89px;
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right 8px top 48px;
    background-size: 376px 548px;

    @media (min-resolution: $extra) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    @include desktop();
    padding-top: 90px;
    padding-bottom: 162px;
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: min-content;
    background-image: url("../img/about-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right 60px bottom 0;
    background-size: 630px 665px;

    @media (min-resolution: $extra) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -7px;
    width: 113px;
    height: 132px;
    background-color: $basic-blue-elem;
    border-radius: 20px;
    z-index: -1;

    @media (min-width: $tablet) {
      top: -40px;
      left: -7px;
      width: 688px;
      height: 213px;
      background-color: $basic-blue-elem;
      border-radius: 20px;
    }
  }
}

.about__title {
  @include no-fields();
  position: relative;
  margin-bottom: 20px;
  margin-left: 24px;

  @media (min-width: $tablet) {
    margin-left: 34px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    margin: 41px auto 57px 70px;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.about__text {
  @include no-fields();
  margin-bottom: 21px;
  margin-left: 24px;
  color: $white;
  max-width: 210px;

  br {
    display: none;
  }

  @media (min-width: $tablet) {
    @include font(28px, 33px, 300);
    margin-left: 35px;
    margin-bottom: 33px;
    max-width: 300px;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop) {
    margin: 0 0 40px 70px;

    br {
      display: none;
    }
    max-width: 620px;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &--bold {
    @include no-fields();
    margin-bottom: 49px;
    margin-left: 24px;
    font-weight: 700;

    @media (min-width: $tablet) {
      @include font(21px, 25px, 700);
      margin-left: 35px;
      margin-bottom: 52px;
    }

    @media (min-width: $desktop) {
      @include font(21px, 24px, 700);
      margin: 0 auto 87px 70px;
      grid-row-start: 3;
      grid-row-end: 4;
      max-width: 420px;
    }
  }
}

.about__button {
  margin-left: 24px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet) {
    @include font(28px, 35px, 300);
    margin-left: 35px;
    display: flex;
    margin-right: 380px;
    margin-bottom: 0;
    padding-left: 35px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 0 70px;
    padding-right: 18px;
    min-width: 218px;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.about__right {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 1;
  outline: 2px solid rgba(255, 255, 0, 0.8);
}
