.about {
  background-color: $basic-blue-medium;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet) {
    background-color: $basic-tablet;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.about__wrapper {
  position: relative;
  @include  wrapper();
  padding: 33px 25px;
  display: flex;
  flex-direction: column;
  background-image: url(../img/about-mobile@1x.png);
  background-size: 292px 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  border-bottom-left-radius: 30px;


  @media (min-width: $tablet) {
    @include  tablet();
    padding-top: 41px;
    background-image: url(../img/about-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: right 8px top 48px;
    background-size: 376px auto;
  }


// Эту штуку на мобильном не видно, а надо --->
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -7px;
    width: 113px;
    height: 132px;
    background-color: $basic-blue-elem;
    border-radius: 20px;
    z-index: -1;

    @media (min-width: $tablet) {
      top: -40px;
      left: -7px;
      width: 688px;
      height: 213px;
      background-color: $basic-blue-elem;
      border-radius: 20px;
    }
  }
}

.about__title {
  @include no-fields();
  margin-bottom: 19px;
  margin-left: 24px;

  @media (min-width: $tablet) {
    margin-left: 34px;
    margin-bottom: 40px;
  }
}

.about__text {
  @include no-fields();
  margin-bottom: 20px;
  margin-left: 24px;
  color: $white;

  @media (min-width: $tablet) {
    margin-left: 34px;
    margin-bottom: 31px;
    @include font(28px, 35px, 300);
    min-width: 308px;
  }

  &--bold {
    @include no-fields();
    margin-bottom: 49px;
    margin-left: 24px;
    font-weight: 700;

  @media (min-width: $tablet) {
    margin-left: 34px;
    margin-bottom: 44px;
    @include font(21px, 25px, 700);
  }
  }
}

.about__button {
  margin-left: 24px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet) {
    margin-left: 34px;
    display: flex;
    margin-right: 380px;
    margin-bottom: 56px;
    @include font(28px, 35px, 300);
  }
}

.about__right {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 1;
  outline: 2px solid rgba(255, 255, 0, 0.8);
}
