.alphabet {
  display: grid;
  grid-template-columns: repeat(5, 44px);
  grid-template-rows: repeat(5, 41px);

  @media (min-width: $tablet) {
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 60px);
    grid-row-gap: 23px;
    grid-column-gap: 37px;
    align-items: flex-start;
    justify-items: flex-start;
  }

  @media (min-width: $desktop) {
    display: none;
  }

  &--hidden {
    display: none;
  }
}

.alphabet__tab {
  appearance: none;
  position: absolute;
}

.alphabet__tab-label {
  @include font(14px, 14px, 500);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $basic-blue-h2;
  text-transform: uppercase;
  background-color: $white;
  border: 1px solid $alphabet-table;
  cursor: pointer;

  &:hover {
    border-color: $alphabet-border-hover;
    transition: 0.3s ease-in-out;
  }

  @media (min-width: $tablet) {
    @include font(60px, 60px, 700);
    color: $basic-blue-about;
    opacity: 0.3;
    background-color: transparent;
    border: none;
  }
}

.alphabet__tab:checked + .alphabet__tab-label {
  color: $white;
  background-color: $basic-blue-h2;
  border: 1px solid $basic-blue-h2;
  transition: 0.2s ease-in-out;

  @media (min-width: $tablet) {
    @include font(60px, 60px, 700);
    color: $basic-blue-h2;
    opacity: 1;
    background-color: transparent;
    border: none;
  }
}

.alphabet__list {
  @include ul();
  margin-top: 14px;
  grid-column-start: 1;
  grid-column-end: -1;
}
