
.area-list__link {
  @include a();
  @include font(16px, 18px, 700);
  color: $basic-blue-about;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }

  &:hover {
    opacity: 0.6;
    transition: 0.2s ease-in-out;
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 700);
  }
}

.area-list__item {
  margin-right: 0;
  margin-bottom: 9px;

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-right: 27px;

      &:last-of-type {
        margin-bottom: 9px;
    }
  }
}
