.calendar__top {
  padding: 11px 2px 10px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $calendar-month;
  border-bottom: 1px solid $calendar-month;

  @media (min-width: $tablet) {
    margin-bottom: 37px;
    padding: 25px 14px;
    max-height: 86px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 27px 0 24px;
    max-height: 86px;
  }
}

.calendar__previous,
.calendar__next {
  @include no-fields();
  margin-right: auto;
  color: $basic-blue-h2;
  @include font(20px, 20px, 700);
  opacity: 0.3;
  cursor: pointer;

  @media (min-width: $tablet) {
    @include font(36px, 36px, 700);
  }
}

.calendar__head {
  @include no-fields();
  padding: 0 3px;
  color: $basic-blue-h2;
  @include font(20px, 20px, 700);

  @media (min-width: $tablet) {
    @include font(36px, 36px, 700);
  }
}

.calendar__next {
  margin-right: 0;
  margin-left: auto;
}

.calendar__weekdays {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (min-width: $tablet) {
    @include font(18px, 18px, 400);
  }
  @media (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.calendar__weekday {
  width: 32px;
  height: 25px;
  color: $special-grey;
  @include font(14px, 18px, 400);
  text-align: center;

  &--day-off {
    color: $weekend;
  }

  @media (min-width: $tablet) {
    @include font(18px, 18px, 400);
    height: 26px;
  }

  @media (min-width: $desktop) {
    height: 37px;
    padding: 18px 12px 2px;
    margin-right: 87px;
  }
}

.calendar__letter {
  display: none;

  &--day-off {
    color: $weekend;
  }

  @media (min-width: $tablet) {
    display: inline;
    @include font(14px, 18px, 400);
    text-align: center;
  }

  @media (min-width: $desktop) {
    @include font(18px, 18px, 400);
  }
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: $basic-blue-h2;
  @include font(14px, 18px, 400);

  @media (min-width: $tablet) {
    @include font(18px, 18px, 400);
  }
}

.calendar__prev-date,
.calendar__date,
.calendar__today,
.calendar__next-date {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 31px;
  border: 1px solid $calendar-month;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $tablet) {
    min-height: 69px;
  }

  @media (min-width: $desktop) {
    padding: 13px 15px;
    min-height: 71px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.calendar__prev-date {
  opacity: 0.3;
}

.calendar__date {
  opacity: 0.3;
}

.calendar__today {
  border: 2px solid $calendar-orange;
  box-sizing: border-box;
  background-color: $basic-blue-h2;
  color: $white;
  font-weight: 500;

  @media (min-width: $tablet) {
    border: 4px solid $calendar-orange;
  }
}

.calendar__next-date {
  color: $basic-blue-h2;
  font-weight: 500;
  background-color: $modal-close-light;
}

.calendar__picked-date {
  border: 1px solid $calendar-month;
  box-sizing: border-box;
  background-color: $basic-blue-h2;
  color: $white;
  font-weight: 500;
  opacity: 1;
}
