.country {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;

    &:last-of-type {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(to bottom, transparent 50%, rgba($white, 0.5) 60%, $white 100%);
      }
    }
  }
}

.country__img {
  @include img();
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  @media (min-width: $tablet) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 185px;
    height: 100%;
  }
}

.country__text {
  @include no-fields();
  position: relative;
  padding: 25px;
  padding-bottom: 22px;
  margin-top: -18px;
  background-color: $white;
  border-radius: 8px;
  overflow: visible;
  display: grid;
  grid-template-areas:
    "country visitors"
    "slogan slogan";

  @media (min-width: $tablet) {
    flex-grow: 1;
    max-height: 141px;
    margin-top: 0;
    padding: 29px 30px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    grid-template-areas:
      "country"
      "slogan"
      "visitors";
  }

  @media (min-width: $desktop) {
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 30px;
  }
}

.country__flag {
  position: absolute;
  top: -12px;
  right: 210px;
  border-radius: 4px;

  @media (min-width: $tablet) {
    position: absolute;
    top: 17px;
    right: -35px;
    width: 70px;
    height: 47px;
    border-radius: 5px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 25px;
    width: 70px;
    height: 47px;
    border-radius: 5px;
  }
}

.country__name {
  @include no-fields();
  @include font(21px, 21px, 700);
  padding-right: 15px;
  padding-bottom: 2px;
  color: $black;
  grid-area: country;

  @media (min-width: $tablet) {
    @include font(24px, 24px, 700);
    margin-bottom: 5px;
    margin-right: 50px;
    padding-right: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 4px;
    margin-right: 20px;
    margin-left: 0;
  }
}

.country__slogan {
  @include no-fields();
  @include font(16px, 18px, 500);
  opacity: 0.3;
  grid-area: slogan;

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    margin-bottom: 17px;
    margin-right: 50px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 25px;
    margin-right: 20px;
  }
}

.country__visitors {
  @include font(16px, 20px, 500);
  position: relative;
  padding-left: 19px;
  margin-left: auto;
  color: $basic-blue;
  opacity: 0.3;
  grid-area: visitors;

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    @include no-fields();
    padding-left: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    opacity: 0.3;

    @media (min-width: $tablet) {
      top: -2px;
      width: 20px;
      height: 20px;
    }
  }
}
