.create-plan {
  position: relative;
  margin-top: -30px;
  background-color: $create-plan;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 1;
}

.create-plan__wrapper {
  @include wrapper();
  padding-top: 30px;
  padding-bottom: 73px;

  @media (min-width: $tablet) {
    @include tablet();
    width: 618px;
    padding: 53px 75px 112px;
  }

  @media (min-width: $desktop) {
    @include desktop();
    padding: 55px 60px 120px;
  }
}

.create-plan__top-wrapper {
  @include font(24px, 24px, 700);
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $basic-blue-h2;

  @media (min-width: $tablet) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    position: relative;
    margin-bottom: 54px;
  }
}

.create-plan__title {
  @include no-fields();

  @media (min-width: $desktop) {
    margin-left: 70px;
  }
}

.create-plan__bullets {
  margin-right: 18px;

  @media (min-width: $tablet) {
    margin-right: 0;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: -278px;
    left: 932px;
    z-index: 50;
  }
}

.create-plan__step {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop) {
    position: relative;
    margin-bottom: 44px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
