.destinations {
  position: relative;
  background-color: $basic-blue-light;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 8;

  @media (min-width: $tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.destinations__wrapper {
  position: relative;
  @include  wrapper();
  padding-top: 71px;
  padding-bottom: 34px;

  &::before {
    position: absolute;
    content: "";

    @media (min-width: $tablet) {
      top: 406px;
      left: 40px;
      width: 141px;
      height: 141px;
      background-color: $heart-pale;
      border-radius: 20px;
      z-index: -1;
    }
  }
  &::after {
    position: absolute;
    content: "";

    @media (min-width: $tablet) {
      top: 73px;
      right: 40px;
      width: 288px;
      height: 574px;
      background-image: url(../../img/flags-back@1x.png);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @media (min-width: $tablet) {
    @include tablet();
    padding-top: 73px;
    padding-bottom: 80px;
  }
}

.destinations__title {
  @include  no-fields();
  margin: 0 0 19px 28px;

  @media (min-width: $tablet) {
    margin-bottom: 57px;
    margin-left: 63px;
  }
}

.destinations__text {
  @include  no-fields();
  margin: 0 0 60px 26px;
  max-width: 195px;

  @media (min-width: $tablet) {
    margin-bottom: 104px;
    margin-left: 61px;
    max-width: 345px;
    @include  font(28px, 33px, 300);
  }
}

.destinations__list {
  @include  ul();
  margin-bottom: 9px;

  @media (min-width: $tablet) {
    margin-bottom: 44px;
  }
}

.destinations__item {
  margin-bottom: 9px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-bottom: 11px;
  }
}
