.fellow {

}

.fellow__top {
  position: relative;
  max-height: 270px;
}

.fellow__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fellow__skill {
position: absolute;
top: 17px;
left: 17px;
z-index: 1;
}

.fellow__country {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.fellow__country-flag {
  border-radius: 2px;
}

.fellow__bottom {
  position: relative;
  background-color: $white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fellow__desired-countries {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translatex(-50%);
  @include  ul();
  display: flex;
  justify-content: center;
}

.fellow__name {
  position: relative;
  @include  no-fields();
  @include font(21px, 21px, 700);
  padding-top: 27px;
  padding-left: 16px;
  margin-bottom: 15px;
  color: $basic-blue-h2;
  cursor: pointer;

  &--offline::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 33px;
    left: 0;
    border-radius: 50%;
    background-color: $red;
  }

  &--online::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 33px;
    left: 0;
    border-radius: 50%;
    background-color: $green;
  }

  &:hover {
    opacity: 0.7;
    transition: 0.2s ease-in-out;
  }

  &:active {
    opacity: 0.3;
    transition: 0.2s ease-in-out;
  }
}

.fellow__tags-list {
  @include  ul();
  margin-bottom: 14px;
}

.fellow__transport-list {
  @include  ul();
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 120px;
}
