.fieldset-number {
  @media (min-width: $desktop) {
    position: relative;
  }
}

.fieldset-number__label {
  margin-bottom: 8px;

  &--mates,
  &--days {
    display: flex;
    justify-content: space-between;
  }

  &--mates {
    @media (min-width: $tablet) {
      margin-bottom: 24px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &--days {
    @media (min-width: $tablet) {
      margin-bottom: 24px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
}

.fieldset-number__span {
  @include font(16px, 16px, 500);
  color: $basic-blue-h2;
  text-transform: uppercase;
  letter-spacing: 0.09em;

  &--pale {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    @include font(20px, 18px, 500);
  }

  @media (min-width: $desktop) {
    margin-top: 28px;
    letter-spacing: normal;
  }
}

.fieldset-number__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $alphabet-table;
  border-radius: 4px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid $filter-range-hover;

    .fieldset-number__less--mates::before,
    .fieldset-number__more--mates::before,
    .fieldset-number__less--days::before,
    .fieldset-number__more--days::before,
    .fieldset-number__more--mates::after,
    .fieldset-number__more--days::after {
      background-color: $filter-range-hover;
    }
  }

  &:active {
    border: 1px solid $basic-blue;

    .fieldset-number__less--mates::before,
    .fieldset-number__more--mates::before,
    .fieldset-number__less--days::before,
    .fieldset-number__more--days::before,
    .fieldset-number__more--mates::after,
    .fieldset-number__more--days::after {
      background-color: $basic-blue;
    }
  }

  &:last-of-type {
    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    position: absolute;
    margin-bottom: 0;
    max-width: 180px;
    justify-content: center;
    top: 0;
    right: 72px;
  }
}

.fieldset-number__less,
.fieldset-number__more {
  &:disabled {
    cursor: not-allowed;
  }
}

.fieldset-number__less--mates,
.fieldset-number__more--mates,
.fieldset-number__less--days,
.fieldset-number__more--days {
  position: relative;
  padding: 0;
  width: 43px;
  height: 42px;
  border: none;
  border-radius: 4px;
  background-color: $white;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 62px;
    height: 68px;
  }

  @media (min-width: $desktop) {
    width: 70px;
    height: 68px;
  }
}

.fieldset-number__less--mates::before,
.fieldset-number__more--mates::before,
.fieldset-number__less--days::before,
.fieldset-number__more--days::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 12px;
  width: 15px;
  height: 3px;
  background-color: $plus;

  @media (min-width: $tablet) {
    top: 33px;
    left: 23px;
    width: 20px;
  }
}

.fieldset-number__more--mates::after,
.fieldset-number__more--days::after {
  position: absolute;
  content: "";
  top: 14px;
  left: 18px;
  height: 15px;
  width: 3px;
  background-color: $plus;

  @media (min-width: $tablet) {
    top: 24px;
    left: 32px;
    height: 20px;
  }
}

.fieldset-number__input {
  @include font(15px, 15px, 500);
  padding: 0;
  font-family: $the-only-one;
  flex-grow: 1;
  border: none;
  box-sizing: border-box;
  text-align: center;
  width: 43px;
  height: 42px;
  padding-left: 0;

  @media (min-width: $tablet) {
    height: 68px;
  }

  @media (min-width: $desktop) {
    @include font(20px, 18px, 500);
    flex-grow: 0;
  }
}
