.footer {
  position: relative;
  margin-top: -30px;
  background-color: $white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 1;

  @media (min-width: $tablet) {
    margin-top: -50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  @media (min-width: $desktop) {
    margin-top: -50px;
  }
}

.footer__wrapper {
  @include wrapper();
  padding-top: 37px;
  padding-bottom: 19px;

  @media (min-width: $tablet) {
    @include tablet();
    padding-top: 46px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    padding-top: 47px;
    padding-right: 60px;
    padding-bottom: 43px;
    padding-left: 58px;
    margin: 0 auto;
    width: 1320px;
  }
}

.footer__logo {
  margin: 0 auto 33px;
  display: block;

  @media (min-width: $tablet) {
    width: 164px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 200px;
  }
}

.footer__social {
  @include ul();
  padding-bottom: 37px;
  border-bottom: 1px solid $footer-grey-line;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-right: 10px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop) {
    margin-right: 40px;
  }
}

.footer__social-item {
  margin-right: 0;
  margin-bottom: 37px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $basic-yellow;
  border-radius: 50%;

  &:hover {
    background-color: $special_yellow_dark;
    transition: 0.3s ease-in-out;
  }

  &:active {
    transition: 0.3s ease-in-out;
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
    width: 62px;
    height: 62px;
  }
}

.footer__copyright {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    margin-right: 0;
    margin-top: 0;
  }

  &:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  &:active {
    opacity: 0.3;
    transition: 0.3s ease-in-out;
  }
}

.footer__copyright-text {
  @include no-fields();
  @include font(16px, 33px, 400);
  color: $special-grey;

  @media (min-width: $tablet) {
    @include font(20px, 20px, 400);
    margin-right: 20px;
  }

  @media (min-width: $desktop) {
    @include font(20px, 33px, 400);
    margin-right: 19px;
  }
}

.footer__copyright-link {
  @include a();
  max-height: 34px;
}
