.form {
  position: relative;
  margin-top: -30px;
  background-color: $basic-blue-about;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 5;

  @media (min-width: $tablet) {
    margin-top: -60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.form__wrapper {
  @include wrapper();
  padding-top: 102px;
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    @include tablet();
    padding-top: 133px;
    padding-bottom: 60px;
  }
}

.form__title {
  @include no-fields();
  margin-bottom: 19px;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
  }
}

.form__text {
  @include no-fields();
  margin: 0 auto;
  max-width: 215px;
  color: $white;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: $tablet) {
    max-width: 638px;
    margin-bottom: 65px;
    @include font(28px, 32px, 300);
  }

  &:last-of-type {
    margin-bottom: 17px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }
  }
}

.form__text-link {
  color: $basic-yellow;

  @media (min-width: $tablet) {
    @include font(28px, 32px, 300);
  }

  &:hover {
    color: $special_orange;
    transition: 0.3s ease-in-out;
  }

  &:active {
    color: $special_orange;
    opacity: 0.3;
    transition: 0.3s ease-in-out;
  }
}

.form__index-form {
  position: relative;
}

.form__index-input {
  margin-bottom: 29px;
  padding: 20px 75px 20px 25px;
  @include font(18px, 20px, 700);
  border-radius: 10px;
  border: none;
  width: 100%;
  max-height: 80px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    margin-bottom: 60px;
    padding: 28px 90px 28px 36px;
    @include font(24px, 24px, 700);
    border-radius: 20px;
  }

  &::placeholder {
    font-family: $the-only-one;
    @include font(18px, 20px, 700);
    opacity: 0.3;

    @media (min-width: $tablet) {
      @include font(24px, 24px, 700);
    }
  }

  &:hover::placeholder {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  &:focus {
    color: $white;
    box-shadow: inset 0 0 0 4px $white;
    background-color: $basic-blue-about;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
  }
}

.form__auth-submit {
  position: absolute;
  padding: 0 30px;
  top: 0;
  right: 0;
  height: 60px;
  box-sizing: border-box;
  border: none;

  @media (min-width: $tablet) {
    padding: 0 40px;
    height: 80px;
  }
}


.form__link {
  @include a();
  display: flex;
  @include font(16px, 45px, 700);
  color: $basic-blue-medium;

  @media (min-width: $tablet) {
    @include font(28px, 68px, 700);
  }
}

.form__icon {
  margin-right: 16px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic-blue-icon;
  background-image: url(../../img/contacts-phone.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $tablet) {
    margin-right: 22px;
    width: 68px;
    height: 68px;
  }
}

.form__contact {
    color: $basic-yellow;
}
