.form {
  position: relative;
  margin-top: -30px;
  background-color: $basic-blue-about;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 5;

  @media (min-width: $tablet) {
    margin-top: -60px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  @media (min-width: $desktop) {
    margin-top: -50px;
  }
}

.form__wrapper {
  @include wrapper();
  padding-top: 102px;
  padding-bottom: 29px;

  @media (min-width: $tablet) {
    @include tablet();
    padding-top: 135px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop) {
    width: 1170px;
    margin: 0 auto;
    padding: 159px 134px 104px 132px;
  }
}

.form__title {
  @include no-fields();
  margin-bottom: 19px;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.form__text {
  @include no-fields();
  margin: 0 auto 31px;
  max-width: 200px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet) {
    @include font(28px, 32px, 300);
    max-width: 638px;
    margin-bottom: 65px;

    br {
      display: none;

      &:nth-of-type(2) {
        display: inline;
      }
    }
  }

  @media (min-width: $desktop) {
    @include font(28px, 31px, 300);
    max-width: 655px;
    margin-bottom: 60px;
  }

  &:last-of-type {
    margin-bottom: 19px;
    max-width: 230px;
    letter-spacing: 0.01em;

    @media (min-width: $tablet) {
      margin-bottom: 40px;
      max-width: 620px;

      br {
        display: none;
      }
    }

    @media (min-width: $desktop) {
      margin-bottom: 42px;
    }
  }
}

.form__text-link {
  color: $basic-yellow;

  @media (min-width: $tablet) {
    @include font(28px, 32px, 300);
  }

  &:hover {
    color: $special_orange;
    transition: 0.3s ease-in-out;
  }

  &:active {
    color: $special_orange;
    opacity: 0.3;
    transition: 0.3s ease-in-out;
  }
}

.form__index-form {
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 616px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 70px;
    width: auto;
  }
}

.form__index-input {
  @include font(18px, 20px, 700);
  margin-bottom: 0;
  padding: 20px 75px 20px 25px;
  border-radius: 10px;
  border: none;
  width: 100%;
  max-height: 80px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    @include font(24px, 24px, 700);
    padding: 28px 90px 28px 36px;
    border-radius: 20px;
  }

  @media (min-width: $desktop) {
    @include font(24px, 24px, 700);
    padding: 28px 360px 28px 36px;
    border-radius: 20px;
  }

  &::placeholder {
    @include font(18px, 20px, 700);
    font-family: $the-only-one;
    opacity: 0.3;

    @media (min-width: $tablet) {
      @include font(24px, 24px, 700);
    }
  }

  &:hover::placeholder {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
  }

  &:focus {
    color: $white;
    box-shadow: inset 0 0 0 4px $white;
    background-color: $basic-blue-about;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
  }
}

.form__auth-submit {
  position: absolute;
  padding: 0 30px;
  top: 0;
  right: 0;
  height: 60px;
  box-sizing: border-box;
  border: none;
  font-size: 0;

  @media (min-width: $tablet) {
    padding: 0 40px;
    height: 80px;
  }

  @media (min-width: $desktop) {
    @include font(24px, 24px, 700);
    padding-right: 134px;
    padding-left: 36px;
    max-width: 324px;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form__link-wrap {
  @media (min-width: $tablet) {
    margin-left: 40px;
  }

  @media (min-width: $desktop) {
    margin-left: 152px;
    margin-right: 152px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__link {
  @include a();
  @include font(16px, 45px, 700);
  display: flex;
  align-items: center;
  color: $basic-blue-medium;

  @media (min-width: $tablet) {
    @include font(28px, 68px, 700);
  }
}

.form__icon {
  margin-right: 16px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic-blue-icon;
  background-image: url("../../img/contacts-phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 16px;

  @media (min-width: $tablet) {
    margin-right: 22px;
    width: 68px;
    height: 68px;
    background-size: 35px 35px;
  }

  @media (min-width: $desktop) {
    margin-right: 31px;
    width: 90px;
    height: 90px;
    background-size: 35px 35px;
  }
}

.form__contact {
  color: $basic-yellow;

  @media (min-width: $desktop) {
    margin-top: 4px;
  }
}
