.header {
  position: relative;
  height: 73px;
  max-height: 100vh;
  background-color: $basic-blue;

  &--no-js {
    height: 100vh;
    background-color: $white;
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 73px;
    width: 100%;
    z-index: 1000;
  }

  @media (min-width: $tablet) {
    height: 132px;
    background-color: $basic-tablet;

    &--no-js {
      height: 100vh;
      background-color: $white;
    }
  }

  @media (min-width: $desktop) {
    height: auto;
    width: auto;
    padding-top: 35px;
    background-color: $basic-blue;

    &--no-js {
      height: 90px;
      background-color: $white;
    }

    &--sticky {
      padding-top: 0;
      background-color: $white;
    }
  }
}

.header__main-nav {
  @include wrapper();
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  @media (min-width: $tablet) {
    @include tablet();
  }

  @media (min-width: $desktop) {
    @include desktop();
    padding-top: 47px;
    left: 0;
    transform: translate(0);
  }
}

.header__logo {
  margin-right: auto;
  margin-bottom: 32px;
  grid-column-start: 1;
  grid-column-end: 2;

  @media (min-width: $tablet) {
    width: 164px;
    height: 42px;
    margin: 0 0 45px 10px;
  }

  @media (min-width: $desktop) {
    width: 200px;
    height: 52px;
    margin: 0 86px 0 0;
  }
}
