.icon-email {
  position: relative;
  @include a();
  @include font(16px, 45px, 700);
  padding-left: 61px;
  min-height: 45px;
  color: $basic-blue-medium;

  &--bright {
    color: $basic-yellow;
  }

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: $basic-blue-icon;
    background-image: url(../../img/contacts-mail.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
