.intro {
  background-color: $basic-blue;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: 320px 384px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    background-color: $basic-tablet;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-size: 1479px 612px;
    background-position: center 248px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    background-color: $basic-blue;
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-size: 1800px 750px;
    background-position: -190px bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }
}

.intro__wrapper {
  @include wrapper();
  padding-top: 20px;
  padding-bottom: 39px;
  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 80px 150px;
  background-size: 192px 255px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    @include tablet();
    padding-top: 30px;
    padding-bottom: 96px;
    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 284px 272px;
    background-size: 372px 451px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    @include desktop();
    padding-bottom: 0;
    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 604px -18px;
    background-size: 431px 640px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 388px min-content;
    overflow: visible;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png");
    }
  }
}

.intro__title {
  @include no-fields();
  @include font(36px, 40px, 700);
  margin: 0 auto 244px auto;
  text-align: center;
  color: $white;
  max-width: 238px;

  @media (min-width: $tablet) {
    @include font(60px, 70px, 700);
    margin: 0 auto 86px;
    max-width: 400px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    @include font(60px, 70px, 700);
    margin: 77px auto 98px 67px;
    max-width: 400px;
    text-align: left;
  }
}

.intro__list {
  margin-bottom: 0;
}

.intro__blockquote {
  @include no-fields();
  margin: 28px auto 39px 27px;
  max-width: 162px;
  color: $white;
  background-color: $basic-blue;

  @media (min-width: $tablet) {
    padding: 0 0 0 36px;
    margin: 0 auto 211px 0;
    max-width: 264px;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    margin-top: 90px;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 26px;
    grid-column-start: 3;
    grid-column-end: 4;
    flex-wrap: nowrap;
  }
}

.intro__quote {
  @include no-fields();
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    @include font(28px, 33px, 300);
    margin-bottom: 46px;
    max-width: 264px;
  }

  @media (min-width: $desktop) {
    @include font(28px, 32px, 300);
    margin-bottom: 43px;
  }
}

.intro__cite {
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet) {
    @include font(21px, 25px, 700);
    display: block;
    max-width: 260px;
  }

  @media (min-width: $desktop) {
    @include font(21px, 24px, 700);
  }
}

.intro__steps {
  @include font(18px, 18px, 700);
  @include ul();
  margin: 0 auto;
  counter-reset: myCounter;
  color: $basic-blue;

  @media (min-width: $tablet) {
    @include font(24px, 24px, 700);
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    margin-bottom: 123px;
    grid-column-start: 1;
    grid-column-end: 4;
    max-width: 1320px;
    flex-wrap: nowrap;
  }
}

.intro__step {
  position: relative;
  padding: 24px 80px 27px 24px;
  margin-top: -8px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: $basic-yellow;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding: 31px 80px 61px 34px;
    min-height: 140px;
    box-sizing: border-box;
    flex-basis: 344px;
  }

  @media (min-width: $desktop) {
    min-height: 107px;
    margin-left: -30px;
    padding: 29px 80px 29px 32px;
  }

  &::after {
    position: absolute;
    counter-increment: myCounter;
    content: counter(myCounter);
    top: 22px;
    right: 21px;
    color: $white;

    @media (min-width: $tablet) {
      @include font(30px, 30px, 700);
      bottom: 21px;
      top: auto;
      right: 316px;
    }

    @media (min-width: $desktop) {
      @include font(24px, 24px, 700);
      top: 29px;
      right: 60px;
    }
  }

  &:first-child {
    background-color: $special-orange;

    @media (min-width: $tablet) {
      border-radius: 0;
      border-top-left-radius: 20px;
      flex-basis: 365px;
    }

    @media (min-width: $desktop) {
      margin-left: 0;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      flex-basis: 345px;
    }
  }

  &:nth-child(2) {
    background-color: $special_orange-light;

    @media (min-width: $tablet) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-left: -21px;

      &::after {
        right: 290px;
      }
    }

    @media (min-width: $desktop) {
      border-radius: 0;
      padding-left: 26px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      flex-basis: 375px;

      &::after {
        right: 60px;
      }
    }
  }

  &:nth-child(3) {
    background-color: $special_yellow_dark;

    @media (min-width: $tablet) {
      border-radius: 0;
      border-bottom-left-radius: 20px;
      flex-basis: 365px;
    }

    @media (min-width: $desktop) {
      border-radius: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      flex-basis: 375px;
    }
  }

  &:last-child {
    padding-top: 27px;
    padding-bottom: 23px;
    background-color: $basic-yellow;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

    @media (min-width: $tablet) {
      padding: 31px 80px 30px 34px;
      border-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-left: -21px;

      &::after {
        right: 290px;
      }
    }

    @media (min-width: $desktop) {
      padding-left: 26px;
      border-radius: 20px;
      flex-basis: 315px;

      &::after {
        right: 31px;
      }
    }
  }
}
