.list-a {
  @include ul();
}

.list-a__country {

}

.list-a__link {
  @include a();
  font-weight: 400;
  text-transform: none;

  &:hover {
    color: $basic-blue-h2;
    transition: 0.3s ease-in-out;
  }

  &:active {
    opacity: 0.3;
    transition: 0.3s ease-in-out;
  }
}
