.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__white {
  @include img();
  display: block;

  @media (min-width: $tablet) {
    width: 166px;
  }

  @media (min-width: $desktop) {
    width: 200px;
  }

  &--hidden {
    display: none;
  }
}

.logo__blue {
  @include img();
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 166px;
  }

  @media (min-width: $desktop) {
    width: 200px;
  }

  &--hidden {
    display: none;
  }
}
