.main-nav {
  padding-top: 27px;
  background-color: $basic-blue;

  @media (min-width: $tablet) {
    padding-top: 45px;
    background-color: $basic-tablet
  }

  &--unwrapped {
    background-color: $white;
  }
}

.main-nav__top {
  width: 270px;
  margin: 0 auto;
  padding: 0 25px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    @include tablet();
    padding:  0 0 45px;
  }
}

.main-nav__burger {
  position: relative;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  min-width: 25px;
  min-height: 25px;

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    top: 5px;
    left: 0;
    background-color: $white;
    border-radius: 1px;
  }
  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    top: 16px;
    left: 0;
    background-color: $white;
    border-radius: 1px;
  }


  &--opened::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    top: 11px;
    left: 0;
    background-color: $plus;
    border-radius: 1px;
    transform: rotate(45deg);
    transition: 0.2s ease-in-out;
  }

  &--opened::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    top: 11px;
    left: 0;
    background-color: $plus;
    border-radius: 1px;
    transform: rotate(-45deg);
    transition: 0.2s ease-in-out;
  }
}

.main-nav__wrapper {
  @include wrapper;
  padding: 55px 25px 41px;

  &--wrapped {
  display: none;
  }

  @media (min-width: $tablet) {
    @include tablet;
    padding-top: 53px;
    padding-left: 59px;
  }
}

.main-nav__auth {
  padding: 12px 0 8px;
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  &:hover {
    background-color: $special_yellow_dark;
    transition: 0.3s ease-in-out;
  }

  &:active {
    transition: 0.2s ease-in-out;
  }
}

.main-nav__list:nth-of-type(2) {

  @media (min-width: $tablet) {
    padding-bottom: 0;
    margin-bottom: 129px;
  }
}

.main-nav__list:last-of-type {
  @include ul();
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-left: 22px;
    margin-bottom: 91px;
    justify-content: start;
  }
}

