.main-nav {
  background-color: $basic-blue;

  @media (min-width: $tablet) {
    background-color: $basic-tablet
  }

  @media (min-width: $desktop) {
    position: relative;
    @include desktop();
    display: flex;
    background-color: $basic-blue;
  }

  &--unwrapped {
    background-color: $white;
  }
}

.main-nav__top {
  width: 270px;
  min-height: 73px;
  margin: 0 auto;
  padding: 0 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    margin: 0 auto;
    min-height: 132px;
    width: 690px;
    padding: 0 40px 0 38px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.main-nav__burger {
  position: relative;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  min-width: 25px;
  min-height: 25px;

  @media (min-width: $desktop) {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    top: 5px;
    left: 0;
    background-color: $white;
    border-radius: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    top: 16px;
    left: 0;
    background-color: $white;
    border-radius: 1px;
  }

  &--opened::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    top: 11px;
    left: 0;
    background-color: $plus;
    border-radius: 1px;
    transform: rotate(45deg);
    transition: 0.2s ease-in-out;
  }

  &--opened::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 3px;
    top: 11px;
    left: 0;
    background-color: $plus;
    border-radius: 1px;
    transform: rotate(-45deg);
    transition: 0.2s ease-in-out;
  }
}

.main-nav__wrapper {
  @include wrapper;
  padding: 55px 0 41px;
  box-sizing: border-box;

  &--wrapped {
  display: none;
  }

  @media (min-width: $tablet) {
    @include tablet;
    width: 620px;
    padding-top: 53px;
    padding-bottom: 91px;
    margin-right: auto ;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 405px;
    transform: translate(0, -50%);
    @include no-fields();
  }
}

.main-nav__dekstop {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
    font-size: 0;

    &--phone-icon {
      margin-left: auto;
      background-image: url(../../img/topmenu-phone.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 18px 18px;
      background-color: $special_orange;

      &:hover {
        background-color: $special_orange-saturate;
        transition: 0.3s ease-in-out;
      }
    }

    &--mail-icon {
      background-image: url(../../img/topmenu-mail.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 18px 18px;
      background-color: $special_yellow_dark;

      &:hover {
        background-color: $special_orange;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.main-nav__auth {
  padding: 12px 0 8px;
  display: none;

  @media (min-width: $tablet) {
    display: block;
    font-weight: 700;
  }

  @media (min-width: $desktop) {
    display: block;
  }

  &:hover {
    background-color: $special_yellow_dark;
    transition: 0.3s ease-in-out;
  }

  &:active {
    transition: 0.2s ease-in-out;
  }
}
.main-nav__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 51px;

  @media (min-width: $tablet) {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 144px;
  }

  @media (min-width: $desktop) {
    display: flex;
    @include no-fields();
  }
}
.main-nav__list:nth-of-type(2) {
  margin-bottom: 41px;

  @media (min-width: $tablet) {
    padding-bottom: 0;
    margin-bottom: 129px;
  }
}

.main-nav__list:last-of-type {
  @include ul();

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-left: 23px;
    justify-content: start;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

