.map {
  height: 322px;

  @media (min-width: $tablet) {
    height: 574px;
  }

  @media (min-width: $desktop) {
    height: 500px;
  }
}

.map__body {
  width: 100%;
  height: 310px;

  @media (min-width: $tablet) {
    height: 574px;
  }

  @media (min-width: $desktop) {
    height: 500px;
  }
}
