.page {
  position: relative;
  min-width: 320px;
  @include no-fields();
  font-family: $the-only-one;
  @include font();
  color: $special-grey;
  background-color: $basic-blue-light;
  overflow-x: hidden;
}

.page__body {
  position: relative;
  @include no-fields();
  overflow-x: hidden;
}

::selection {
  background-color: $basic-yellow;
  color: $basic-blue;
}

.page__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
