.range-cells {
  position: relative;
  display: flex;
  justify-content: stretch;
  background-color: $basic-yellow;
  border-radius: 4px;

  &::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 50%;
    transform: translate(-50%);
    width: 16px;
    height: 1px;
    border-top: 5px solid $white;
    border-bottom: 5px solid $white;
    background-color: $alphabet-table;

    @media (min-width: $desktop) {
      top: 17px;
      left: 94px;
    }
  }
}

.range-cells__input-left,
.range-cells__input-right {
  @include font(14px, 13px, 500);
  padding: 13px 10px 8px 25px;
  font-family: $the-only-one;
  color: $basic-blue-h2;
  text-align: center;
  width: 110px;
  max-height: 34px;
  border: 1px solid $alphabet-table;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  &::placeholder {
    color: $basic-blue-h2;
  }

  &:hover {
    border-color: $filter-range-hover;
  }

  &:focus {
    border-color: $basic-blue;
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    padding: 10px;
    width: 74px;
    max-height: 43px;
  }

  @media (min-width: $desktop) {
    width: 94px;
    max-height: 45px;
  }
}

.range-cells__input-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-cells__input-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
