.site-list {
@include font(30px, 35px, 500);
@include ul();
padding-bottom: 51px;
color: $basic-blue-medium;
text-align: center;
background-color: $white;
}

// .site-list__item {
// &--active {

// }
// }

.site-list__link {
  @include a();
}
