.social {
  display: none;
  justify-content: center;
  align-items: center;

  &--opened {
    display: flex;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.social__item {
  margin-right: 22px;
  background-color: $white;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    margin-right: 32px;
  }
}

.social__link {
  @include a();
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.6;
    transition: 0.2s ease-in-out;
  }

  &:active {
    opacity: 0.3;
    transition: 0.2s ease-in-out;
  }

  @media (min-width: $tablet) {
    width: 28px;
    height: 28px;
  }
}

.social__svg {
  &--fb {
    width: 11px;
    height: 21px;
  }

  &--vk {
    width: 25px;
    height: 12px;
  }

  &--in {
    width: 18px;
    height: 18px;
  }

  @media (min-width: $tablet) {
    &--fb {
      width: 14px;
      height: 26px;
    }

    &--vk {
      width: 28px;
      height: 18px;
    }

    &--in {
      width: 22px;
      height: 22px;
    }
  }

  @media (min-width: $desktop) {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 30px;
      height: 16px;
    }

    &--in {
      width: 24px;
      height: 24px;
    }
  }
}
