.step {
  background-color: $white;
  border-radius: 10px;
  padding: 24px 25px 23px;
  display: flex;
  flex-direction: column;

  &--first {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 577px 1fr;
      grid-column-gap: 180px;
      grid-template-areas:
        "title ."
        "text ."
        "people kids"
        "days ."
        "calendar calendar"
        "button .";
    }
  }

  @media (min-width: $tablet) {
    padding: 48px 43px 56px;
    border-radius: 30px;
  }


  &--second,
  &--third {
    padding-bottom: 6px;

    @media (min-width: $tablet) {
      padding-bottom: 54px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop) {
    padding: 100px 159px 104px;
    border-radius: 60px;
  }
}

.step__title {
  @include no-fields();
  @include font(20px, 20px, 700);
  margin-bottom: 16px;
  color: $basic-blue-h2;

  @media (min-width: $tablet) {
    @include font(36px, 36px, 700);
    margin-bottom: 35px;
  }

  @media (min-width: $desktop) {
    grid-area: title;
    margin-bottom: 33px;

    br {
      display: none;
    }
    max-width: 666px;
  }
}

.step__text {
  @include no-fields();
  position: relative;
  margin-bottom: 20px;
  padding-right: 0;
  font-weight: 400;

  br {
    display: none;
  }

  @media (min-width: $tablet) {
    @include font(20px, 24px, 400);
    margin-bottom: 64px;
    max-width: 505px;

    br {
      display: inline;
    }

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 532px;
      bottom: -34px;
      left: 0;
      background-color: $basic-grey-line;
    }
  }

  @media (min-width: $desktop) {
    @include font(20px, 24px, 400);
    grid-area: text;
    margin-bottom: 85px;

    br {
      display: block;
    }
    max-width: 580px;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 998px;
      bottom: -55px;
      left: 0;
      background-color: $basic-grey-line;
    }
  }
}

.step__plans-textarea {
  @include wrapper();
  width: auto;
  padding: 0;
  margin-bottom: 15px;

  &:first-of-type {
    margin-top: 5px;
    margin-bottom: 20px;

    @media (min-width: $desktop) {
      margin-top: 47px;
    }
  }

  @media (min-width: $tablet) {
    @include tablet();
    padding: 0;
    width: 500px;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 40px;

    &:first-of-type {
      margin-bottom: 48px;
    }
  }

  @media (min-width: $desktop) {
    width: 730px;
    margin-bottom: 48px;

    &:first-of-type {
      margin-bottom: 46px;
    }
  }
}

.step__location-name {
  @include no-fields();
  @include font(18px, 18px, 500);
  position: relative;
  padding-left: 10px;
  margin-bottom: 16px;
  color: $basic-blue-h2;

  &::before {
    position: absolute;
    content: "";
    top: 4px;
    left: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $basic-blue-h2;
  }

  &::after {
    position: absolute;
    content: "";
    top: -4px;
    left: 185px;
    width: 35px;
    height: 24px;
    border-radius: 4px;
    background-color: $red;
  }

  @media (min-width: $tablet) {
    @include font(30px, 30px, 700);
    margin-bottom: 38px;
    padding-left: 0;

    &::before {
      top: 8px;
      left: 520px;
      width: 14px;
      height: 14px;
    }

    &::after {
      top: -10px;
      left: 430px;
      width: 70px;
      height: 47px;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 37px;

    &::before {
      top: 8px;
      left: 770px;
      width: 14px;
      height: 14px;
    }

    &::after {
      top: -6px;
      left: 815px;
      width: 70px;
      height: 47px;
    }
  }
}

.step__plan-description {
  @include font(16px, 22px, 400);
  padding: 12px;
  padding-top: 10px;
  width: auto;
  resize: none;
  height: 220px;
  font-family: $the-only-one;
  color: $special-grey;
  border: 1px solid $alphabet-table;
  border-radius: 4px;
  box-sizing: border-box;

  &::placeholder {
    padding: 0 5px;
    color: $special-grey;
    opacity: 0.3;
  }

  &:hover {
    border-color: $filter-range-hover;
    transition: 0.2s ease-in-out;
  }

  &:focus {
    border-color: $basic-blue;
    transition: 0.2s ease-in-out;

    &::placeholder {
      opacity: 1;
    }
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 400);
    padding: 18px;
    padding-right: 60px;
    width: 500px;
    height: 140px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    padding: 23px;
    padding-right: 15px;
    width: 730px;
    min-height: 142px;
  }
}

.step__fieldset {
  @include no-fields();
  margin-bottom: 21px;
  border: none;

  &:nth-of-type(3) {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 34px;

    &:nth-of-type(3) {
      position: relative;
      order: 1;
      margin-bottom: 59px;

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 532px;
        bottom: -34px;
        left: 0;
        background-color: $basic-grey-line;
      }
    }

    &:nth-of-type(2) {
      order: 2;
      margin-bottom: 58px;
    }
  }

  @media (min-width: $desktop) {
    &:first-of-type {
      grid-area: people;
      margin-bottom: 38px;
      max-width: 475px;
    }

    &:nth-of-type(2) {
      margin-bottom: 56px;
      grid-area: days;
      order: 0;
      max-width: 475px;
    }

    &:nth-of-type(3) {
      grid-area: kids;
      order: 0;
      margin-top: 28px;
      margin-bottom: 0;

      &::after {
        width: 0;
        height: 0;
      }
    }
  }
}

.step__calendar {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    order: 3;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop) {
    grid-area: calendar;
    order: 0;
    margin-bottom: 57px;
  }
}

.step__buttons-wrap {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
}

.step__button {
  padding: 7px 20px 3px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-family: $the-only-one;

  &--back {
    &:hover {
      opacity: 0.7;
      transition: 0.2s ease-in-out;
    }

    &:active {
      opacity: 0.3;
      transition: 0.2s ease-in-out;
    }
  }

  &:first-of-type {
    margin-bottom: 6px;

    @media (min-width: $tablet) {
      margin-bottom: 0;
      padding-right: 72px;
    }

    @media (min-width: $desktop) {
      margin-right: auto;
      margin-left: 0;
    }
  }

  &:last-of-type {
    @media (min-width: $desktop) {
      margin-left: auto;
      margin-right: 5px;
    }
  }

  &:only-of-type {
    margin-bottom: 0;

    @media (min-width: $tablet) {
      padding-right: 70px;
    }

    @media (min-width: $desktop) {
      margin-right: auto;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  @media (min-width: $tablet) {
    @include font(24px, 24px, 700);
    position: relative;
    order: 4;
    padding: 29px 60px 27px 37px;
    border-radius: 20px;
    text-transform: none;
    align-self: flex-start;
    width: initial;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      right: 32px;
      width: 1px;
      height: 1px;
      border: 10px solid $basic-blue-h2;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: none;
    }

    &--back {
      padding: 29px 5px 27px 60px;

      @media (min-width: $tablet) {
        padding-right: 0;

        &:last-of-type {
          padding-right: 0;
        }
      }

      @media (min-width: $desktop) {
        &:last-of-type {
          margin-left: auto;
          margin-right: 5px;
        }
      }

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: 26px;
        width: 1px;
        height: 1px;
        border: 10px solid $basic-blue-h2;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: none;
      }
    }
  }

  @media (min-width: $desktop) {
    grid-area: button;
    order: 0;
    margin-right: auto;
  }

  &--submit:only-of-type {
    margin-bottom: 6px;

    @media (min-width: $tablet) {
      margin-bottom: 0;
      padding-right: 135px;
    }
  }
}

.step__countries-list {
  @include ul();

  @media (min-width: $tablet) {
    margin-top: 11px;
  }

  @media (min-width: $desktop) {
    margin-top: 32px;
  }
}

.step__country-picked {
  margin-bottom: 22px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  @media (min-width: $tablet) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 16px;
  }
}

.step__country-choice {
  @include no-fields();
  @include font(14px, 18px, 500);
  position: relative;
  max-height: 42px;
  display: block;
  flex-grow: 1;
  padding: 13px 40px 13px 10px;
  color: $basic-blue-h2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border: 1px solid $alphabet-table;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    right: 14px;
    top: 13px;
    width: 8px;
    height: 8px;
    border-left: 2px solid $alphabet-table;
    border-bottom: 2px solid $alphabet-table;
    transform: rotate(-45deg);
    cursor: pointer;
    z-index: 10;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, transparent 65%, $gradient-white 75%, $white 100%);
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);

    max-height: 70px;
    padding: 27px 90px 23px 25px;
    margin-right: 14px;

    &::before {
      right: 30px;
      top: 25px;
      width: 10px;
      height: 10px;
    }
  }

  @media (min-width: $desktop) {
    max-width: 730px;
    margin-right: 5px;

    &::before {
      right: 27px;
    }
  }
}

.step__country-flag {
  @include no-fields();
  position: relative;
  margin: auto;
  margin-left: -1px;
  height: 42px;
  min-width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $alphabet-table;
  border-radius: 4px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    right: -10px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: $modal-close-light;
  }

  &::after {
    position: absolute;
    content: "";
    top: 17px;
    left: -5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $basic-blue-h2;
  }

  @media (min-width: $tablet) {
    @include no-fields();
    height: 70px;
    min-width: 150px;

    border: none;

    &::before {
      width: 0;
      height: 0;
    }

    &::after {
      top: 26px;
      left: 5px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $basic-blue-h2;
    }
  }

  @media (min-width: $desktop) {
    margin-left: auto;
    margin-right: 116px;
    justify-content: flex-end;

    &::after {
      top: 26px;
      left: 32px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $basic-blue-h2;
    }
  }
}

.step__flag {
  position: relative;
  border-radius: 4px;

  &::after {
    position: absolute;
    content: "";
    top: 17px;
    left: -5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $basic-blue-h2;
  }

  @media (min-width: $tablet) {
    width: 70px;
    height: 47px;
  }
}

.step__dropdown-select {
  margin-bottom: 20px;
  display: flex;
  justify-content: stretch;
  cursor: pointer;

  @media (min-width: $tablet) {
    margin-right: auto;
    margin-bottom: 13px;
  }

  &--active {
    margin-bottom: 0;
  }
}

.step__dropdown-list {
  @include no-fields();
  @include font(14px, 18px, 500);
  position: relative;
  padding: 12px 70px 11px 12px;
  color: $basic-blue-h2;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid $alphabet-table;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    border-color: $filter-range-hover;
    transition: 0.2 ease-in-out;
  }

  &::before {
    position: absolute;
    content: "";
    right: 14px;
    top: 13px;
    width: 8px;
    height: 8px;
    border-left: 2px solid $alphabet-table;
    border-bottom: 2px solid $alphabet-table;
    transform: rotate(-45deg);
    cursor: pointer;
    z-index: 10;
  }

  &::after {
    position: absolute;
    content: "";
    top: 17px;
    left: 162px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $alphabet-table;
    box-sizing: border-box;
  }

  &--active {
    background-color: $basic-blue-h2;
    color: $white;
    transition: 0.2 ease-in-out;

    &::before {
      top: 19px;
      left: 190px;
      width: 12px;
      height: 2px;
      background-color: $white;
      transform: rotate(45deg);
      border: none;
    }

    &::after {
      top: 14px;
      left: 195px;
      width: 2px;
      height: 13px;
      background-color: $white;
      transform: rotate(45deg);
      border: none;
      border-radius: 0;
    }
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    max-height: 70px;
    padding: 27px 90px 23px 25px;
    width: 368px;
    overflow: visible;

    &::before {
      right: 30px;
      top: 25px;
      width: 10px;
      height: 10px;
    }

    &::after {
      top: 26px;
      left: 386px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }

    &--active {
      &::before {
        content: "\1F7AB";
        left: 324px;
        top: 25px;
        background-color: $basic-blue-h2;
      }

      &::after {
        top: 25px;
        left: 386px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid $alphabet-table;
        box-sizing: border-box;
      }
    }
  }

  @media (min-width: $desktop) {
    padding: 25px 90px 25px 25px;
    width: 730px;

    &::before {
      right: 28px;
      top: 23px;
      width: 10px;
      height: 10px;
    }

    &::after {
      top: 25px;
      left: 767px;
      width: 14px;
      height: 14px;
    }

    &--active {
      &::before {
        left: 688px;
        top: 25px;
      }

      &::after {
        top: 25px;
        left: 766px;
      }
    }
  }
}

.step__alphabet {
  margin-top: 0;
  padding-bottom: 20px;
  display: none;

  &--active {
    display: grid;
  }

  @media (min-width: $tablet) {
    margin: 0;
    margin-bottom: 20px;
    width: 575px;
    box-sizing: border-box;
    padding: 35px 27px 33px;
  }

  @media (min-width: $desktop) {
    padding: 32px 26px 36px;
    width: 730px;
  }
}

.step__letter-group {
  @include ul();
  @include font(16px, 26px, 300);
  display: none;
  margin-top: 17px;
  margin-left: 20px;

  &--active {
    display: block;
  }

  @media (min-width: $tablet) {
    @include no-fields();
    margin-left: 103px;
    margin-top: -2px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  @media (min-width: $desktop) {
    margin-left: 111px;

    &::before {
      display: none;
    }
  }
}

.step__letter-country {
  margin-bottom: 4.5px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.step__letter-link {
  @include a();
  @include font(16px, 22px, 400);
  text-transform: none;
  white-space: nowrap;

  &--hide {
    display: none;
  }

  &:hover {
    color: $basic-blue-h2;
    transition: 0.3s ease-in-out;
  }

  &:active {
    opacity: 0.3;
    transition: 0.3s ease-in-out;
  }

  @media (min-width: $tablet) {
    @include font(20px, 30px, 400);
  }
}

.step__submit-country {
  @include a();
  @include button();
  @include font(14px, 18px, 500);
  position: relative;
  margin-bottom: 25px;
  padding: 14px 70px 10px 12px;
  color: $basic-blue-h2;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: left;
  font-family: $the-only-one;
  background-color: $modal-close-light;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 17px;
    left: 162px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $modal-close-light;
    border: 1px solid $alphabet-table;
    box-sizing: border-box;
  }

  &::after {
    position: absolute;
    content: "";
    top: 13px;
    left: 192px;
    width: 21px;
    height: 21px;
    background-image: url("../img/qty-plus-mobile.svg");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    color: $black;
    opacity: 0.2;
  }

  &:hover {
    background-color: $basic-blue-button;
    transition: 0.2s ease-in-out;

    &::after {
      opacity: 0.3;
    }
  }

  &:active {
    &::after {
      opacity: 0.1;
      transition: 0.2s ease-in-out;
    }
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    max-height: 70px;
    padding: 25px 90px 23px 25px;
    margin-right: auto;
    margin-bottom: 50px;
    width: 370px;
    overflow: visible;

    &::before {
      top: 25px;
      left: 388px;
      width: 14px;
      height: 14px;
    }

    &::after {
      top: 34px;
      left: 323px;
      width: 18px;
      height: 3px;
    }
  }

  @media (min-width: $desktop) {
    width: 730px;
    margin-bottom: 56px;


    &::before {
      top: 25px;
      left: 767px;
      width: 14px;
      height: 14px;
    }

    &::after {
      top: 32px;
      left: 685px;
      width: 18px;
      height: 3px;
    }
  }
}
