.tags {
  color: $special-grey;
  max-width: 178px;
  @include font(16px, 18px, 400);

  @media (min-width: $tablet) {
    max-width: 223px;
    @include font(20px, 23px, 400);
  }
}

.tags__item {
  margin-right: 5px;

  @media (min-width: $tablet) {
    margin-right: 7px;
  }
}
