.tooltip {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translate(-50%, 25%);
  z-index: 10;
  opacity: 0;
  transition: 0.6 ease-in-out;
}

.tooltip__content {
  position: relative;
  display: block;
  padding: 18px 25px;
  margin: 0 auto;
  @include font(20px, 20px, 400);
  color: $white;
  text-align: center;
  background-color: $tooltip;
  border-radius: 4px;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    background-color: $tooltip;
    border-radius: 0;
  }
}
