.tourists-filter__wrapper {
  @include wrapper();
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    @include tablet();
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    width: 285px;
    padding: 0;
    margin: 0;
  }
}

.tourists-filter__title {
  @include no-fields();
  @include font(22px, 22px, 700);
  padding: 25px 100px 23px 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: $basic-blue-h2;
  letter-spacing: 0.02em;
  background-color: $basic-yellow;

  @media (min-width: $tablet) {
    @include font(30px, 30px, 700);
    padding: 35px;
    padding-top: 37px;
    padding-bottom: 76px;
    letter-spacing: normal;
  }

  @media (min-width: $desktop) {
    @include font(30px, 30px, 700);
    padding: 45px;
    padding-top: 48px;
    padding-bottom: 33px;
  }
}

.tourists-filter__form {
  color: $basic-blue-h2;
  background-color: $basic-yellow;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $tablet) {
    padding: 0 35px 35px;
  }

  @media (min-width: $desktop) {
    padding: 0 48px 48px;
  }
}

.tourists-filter__fieldset {
  margin: 0 25px;
  padding: 0;
  border: none;
  border-top: 1px solid $special-filter-orange;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  @media (min-width: $tablet) {
    width: 620px;
    margin: 0 0 19px;
    border-top: none;
    display: grid;
    grid-template-columns: 126px 1fr;
    align-items: center;

    &:nth-of-type(1) {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: -40px;
        width: 100%;
        height: 1px;
        background-color: $special-filter-orange;
      }
    }

    &:nth-of-type(3) {
      margin-bottom: 9px;
    }

    &:nth-of-type(4) {
      align-items: center;
    }

    &:nth-of-type(5) {
      position: relative;
      margin-bottom: 71px;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -35px;
        width: 100%;
        height: 1px;
        background-color: $special-filter-orange;
      }
    }
  }

  @media (min-width: $desktop) {
    width: 195px;
    margin: 0;
    margin-left: -2px;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &:nth-of-type(1) {
      &::after {
        display: none;
      }
    }

    &:nth-of-type(3) {
      margin-bottom: 0;
    }

    &:nth-of-type(4) {
      margin-top: 0;
    }

    &:nth-of-type(5) {
      margin-bottom: 45px;

      &::after {
        display: none;
      }
    }
  }
}

.tourists-filter__accordion {
  appearance: none;
  position: absolute;

  &:checked ~ .tourists-filter__group,
  &:checked ~ .tourists-filter__wrap {
    display: block;
    transition: 0.4s ease-in-out;

    @media (min-width: $tablet) {
      display: flex;
    }

    @media (min-width: $desktop) {
      display: block;
      transition: 0.4s ease-in-out;
    }
  }

  &:checked ~ .tourists-filter__group--horizontal {
    display: flex;
    transition: 0.4s ease-in-out;

    @media (min-width: $tablet) {
      display: flex;
    }

    @media (min-width: $desktop) {
      display: flex;
      transition: 0.4s ease-in-out;
    }
  }
}

.tourists-filter__legend {
  @include font(16px, 41px, 700);
  position: relative;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 1px;
    border: 4px solid $basic-blue-h2;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: none;
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    width: 120px;
    margin-right: 0;
    margin-bottom: 10px;

    &::after {
      display: none;
    }

    &--middle {
      margin: 0;
    }
  }

  @media (min-width: $desktop) {
    @include font(20px, 22px, 500);
    margin-bottom: 20px;
    padding-left: 0;
    text-transform: uppercase;
    min-width: 190px;

    &--middle {
      margin-bottom: 10px;
    }

    &::after {
      display: block;
      top: 40%;
      transform: translateY(-40%);
      right: 0;
    }
  }
}

.tourists-filter__colon {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
    margin-left: -5px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.tourists-filter__accordion:checked ~ .tourists-filter__legend::after {
  transform: rotate(180deg);
}


.tourists-filter__wrap {
  display: none;
  margin-top: 8px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.tourists-filter__group {
  @include ul();
  margin-bottom: 14px;
  display: none;

  &--horizontal {
    display: none;
    margin-bottom: 23px;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  @media (min-width: $desktop) {
    display: none;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 28px;

    &--horizontal {
      margin-bottom: 35px;
    }
  }
}

.tourists-filter__item {
  position: relative;
  margin-bottom: 9px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover > .tooltip {
    opacity: 1;
  }

  &--img {
    margin-bottom: 0;
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 50%;
  }

  @media (min-width: $tablet) {
    width: 164px;
    margin-bottom: 10px;

    &--img {
      width: 43px;
      height: 43px;
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 19px;
    max-width: 190px;

    &--img {
      width: 44px;
      height: 44px;
      margin-bottom: 0;
    }
  }
}

.tourists-filter__input {
  appearance: none;
  position: absolute;
}

.tourists-filter__label {
  @include font(15px, 18px, 400);
  position: relative;
  color: $black;
  padding-left: 27px;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: $white;
    box-sizing: border-box;
    border-radius: 3px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 5px;
    height: 6px;
    width: 9px;
    box-sizing: border-box;
    border-left: 2px solid $basic-blue;
    border-bottom: 2px solid $basic-blue;
    box-shadow: 0 2px 0 0 $white, inset 0 -2px 0 0 $white;
    transform: rotate(-45deg);
    display: none;
    transition: 0.2s ease-in-out;
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 400);
    padding-left: 38px;

    &::before {
      top: -4px;
      left: 0;
      height: 24px;
      width: 24px;
    }

    &::after {
      top: 5px;
      left: 8px;
      height: 6px;
      width: 9px;
      border-left: 2px solid $basic-blue;
      border-bottom: 2px solid $basic-blue;
      box-shadow: 0 2px 0 0 $white, inset 0 -2px 0 0 $white;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 36px;

    &::before {
      top: -5px;
    }
  }
}

/* Чекбокс активный */

.tourists-filter__input:checked + .tourists-filter__label::after {
  display: block;
  transition: 0.2s ease-in-out;

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}


.tourists-filter__input:checked ~ .transport-icon {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.tourists-filter__transport-label {
  position: relative;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: $white;
  border-radius: 50%;

  @media (min-width: $tablet) {
    width: 43px;
    height: 43px;
  }

  @media (min-width: $desktop) {
    width: 44px;
    height: 44px;
  }

  &:hover {
    box-shadow: 0 2px 6px rgba(22, 28, 53, 0.17);
    opacity: 0.7;
    transition: 0.2s ease-in-out;
  }

  &:active {
    background-color: $icon-shadow;
    box-shadow: none;
    opacity: 0.3;
    transition: 0.2s ease-in-out;
  }
}

.tourists-filter__range {
  position: relative;
  background-color: rgba($basic-blue-h2, 0.2);
  border-radius: 1px;
  height: 2px;
  width: 220px;

  @media (min-width: $tablet) {
    height: 3px;
    width: 278px;
  }

  @media (min-width: $desktop) {
    height: 3px;
    width: 192px;
  }
}

.tourists-filter__range-between {
  margin: 0 auto;
  background-color: $basic-blue-h2;
  height: 2px;
  width: 220px;

  @media (min-width: $tablet) {
    height: 3px;
    width: 278px;
  }

  @media (min-width: $desktop) {
    height: 3px;
    width: 192px;
  }
}

.tourists-filter__range-bar {
  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.tourists-filter__range-cells {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    display: flex;
    order: 1;
  }

  @media (min-width: $desktop) {
    margin-bottom: 36px;
    order: 0;
  }
}

.tourists-filter__button-left,
.tourists-filter__button-right {
  position: absolute;
  margin-top: -1px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $basic-blue-h2;
  border: none;
  padding: 0;
  cursor: grab;

  &:hover {
    box-shadow: 0 0 0 2px $basic-blue-h2;
    transition: 0.2s ease-in-out;

    @media (min-width: $tablet) {
      box-shadow: 0 0 0 3px $basic-blue-h2;
    }
  }

  &:active {
    box-shadow: 0 0 0 2px $basic-blue-h2;
  }

  @media (min-width: $tablet) {
    margin-top: -2px;
    width: 13px;
    height: 13px;
  }
}

.tourists-filter__submit-wrapper {
  @include wrapper();
  padding-top: 25px;
  padding-bottom: 23px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    @include tablet();
    padding: 0;
    width: 620px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 194px;
  }

  &:active {
    background-color: $special-filter-orange;
    transition: 0.2s ease-in-out;
  }
}

.tourists-filter__submit {
  @include button();
  @include font(17px, 17px, 700);
  font-family: $the-only-one;
  padding: 13px 20px 10px;
  width: 100%;
  color: $basic-blue;
  background-color: $white;

  @media (min-width: $tablet) {
    @include font(20px, 20px, 700);
    padding: 18px 30px 15px;
  }

  @media (min-width: $desktop) {
    padding: 17px 20px 11px;
  }

  &:hover {
    box-shadow: 0 3px 6px rgba($black, 0.14);
    transition: 0.2s ease-in-out;
  }

  &:active {
    color: $basic-blue;
    opacity: 0.3;
    background-color: $special-filter-orange;
    transition: 0.2s ease-in-out;
  }
}
