.traveller {
  position: relative;
  background-color: $white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 70px 115px 45px;
  grid-template-rows: min-content;

  &--offline::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 22px;
    right: 24px;
    border-radius: 50%;
    background-color: $red;
  }

  &--online::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 22px;
    right: 24px;
    border-radius: 50%;
    background-color: $green;
  }

  @media (min-width: $tablet) {
    border-radius: 15px;
    grid-template-columns: 190px 378px 60px;
    grid-template-rows: 50px 80px 60px min-content min-content;

    &--offline::before {
      display: none;
    }

    &--online::before {
      display: none;
    }

  @media (min-width: $desktop) {
    grid-template-columns: 285px 390px 170px auto;
    grid-template-rows: min-content;
  }
}
}

.traveller__profile-link {
  display: flex;
  text-decoration: none;
  margin-bottom: 13px;

  &:first-of-type {

    @media (min-width: $tablet) {
      margin-bottom: 0;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    @media (min-width: $desktop) {
      border-radius: 15px;
      width: 285px;
      height: 285px;
    }
  }

  &:last-of-type {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.traveller__profile-pic {
  border-radius: 50%;

  @media (min-width: $tablet) {
    border-radius: 20px;
    width: 190px;
    height: 190px;
  }

  @media (min-width: $desktop) {
    border-radius: 15px;
    width: 285px;
    height: 285px;
  }
}

.traveller__name {
  position: relative;
  max-width: 100px;
  @include  no-fields();
  @include font(20px, 20px, 700);
  padding-left: 16px;
  color: $basic-blue-h2;
  cursor: pointer;

  &--offline::after,
  &--online::after {
    display: none;
  }

  @media (min-width: $tablet) {
    padding-left: 0;
    margin-left: 33px;
    min-width: 300px;
    @include font(30px, 30px, 700);

    &--offline::after,
    &--online::after {
      position: absolute;
      display: block;
      content: "";
      width: 8px;
      height: 8px;
      top: 10px;
      right: -30px;
      border-radius: 50%;
      background-color: $red;
    }

    &--online::after {
      background-color: $green;
    }
  }

  @media (min-width: $desktop) {
    margin: 46px auto 20px 62px;

    &--offline::after,
    &--online::after {
      width: 8px;
      height: 8px;
      top: 9px;
      right: 0;
      left: -25px;
  }
}

  &:hover {
    opacity: 0.7;
    transition: 0.2s ease-in-out;
  }

  &:active {
    opacity: 0.3;
    transition: 0.2s ease-in-out;
  }
}

.traveller__popularity {
  position: absolute;
  top: 55px;
  left: 75px;
  display: flex;
  align-items: center;

    &--large {
      display: none;
    }

    @media (min-width: $tablet) {
      display: none;


    &--large {
      position: unset;
      display: flex;
      align-items: center;
    }
  }
}

.traveller__heart {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: $heart-pink;
  background-image: url(../../img/heart.svg);
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 50% 50%;

  @media (min-width: $tablet) {
    width: 50px;
    height: 50px;
    background-size: 20px 20px;
  }

  &--dark {
    background-color: $heart-pale;
  }
}

.traveller__counter {
  margin-left: 7px;
  @include font(14px, 16px, 700);
  color: $basic-blue;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font(20px, 20px, 700);
  }
}

.traveller__tags-list {
  grid-column-start: 1;
  grid-column-end: 4;
  @include ul();
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin-bottom: 46px;
    margin-left: 36px;
    color: $black;
    justify-content: flex-start;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  @media (min-width: $desktop) {
    margin: 0 20px 20px 62px;
  }
}

.traveller__choice {
  position: relative;
  @include no-fields();
  margin-bottom: 9px;
  grid-column-start: 1;
  grid-column-end: 4;
  @include font(15px, 16px, 400);

  &:first-of-type {
    @media (min-width: $tablet) {
      margin-top: 22px;
      margin-left: 50px;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }

  &:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &:last-of-type {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  &--large {

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.traveller__countries-list {
  @include ul();
  margin-bottom: 12px;
  grid-column-start: 1;
  grid-column-end: 4;
  @include font(15px, 16px, 500);
  text-transform: uppercase;
  color: $basic-blue-h2;

  @media (min-width: $tablet) {
    margin-top: 24px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    display: flex;
    @include font(20px, 20px, 500);
  }

  @media (min-width: $desktop) {
    margin-top: 49px;
    margin-left: 0;
    margin-bottom: 0;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    flex-direction: column;
  }
}

.traveller__country-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    padding-left: 45px;
    margin-bottom: 0;
    margin-right: 25px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 54px;
    margin-bottom: 13px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 35px;
    height: 24px;
    background-color: $special-grey;
    border-radius: 3px;
  }
}

.traveller__wrapper {
  margin-bottom: 13px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 45px;
  grid-template-rows: 17px 45px;
  grid-gap: 8px;

  @media (min-width: $tablet) {
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}

.traveller__transport-list {
  @include ul();
  margin-top: 6px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: flex-start;

  @media (min-width: $tablet) {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-right: 62px;
    flex-direction: row;
    align-items: baseline;
    grid-column-start: 3;
    grid-row-start: 3;
  }
}

.traveller__transport {
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: $modal-close-light;
  border-radius: 50%;

  @media (min-width: $tablet) {
    background-color: transparent;
    }
}

.traveller__skill {
  margin-bottom: 13px;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 3px solid $special_orange;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: flex-end;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop) {
    margin-right: 43px;
    margin-bottom: 0;
    grid-column-start: 4;
    grid-row-start: 3;
    align-self: flex-start;
    width: 60px;
    height: 60px;
  }
}

.traveller__points {
  padding-top: 5px;
  @include font(24px, 24px, 700);
  text-align: center;
}

.traveller__wrap {
  grid-column-start: 1;
  grid-column-end: 4;

  @media (min-width: $tablet) {
    position: relative;
    margin-left: 29px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: flex-end;
  }

  @media (min-width: $desktop) {
    position: relative;
    margin-left: 54px;
    margin-bottom: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: flex-start;
  }
}

.traveller__button {
  display: block;
}
