.travellers__wrapper {
  @include wrapper();
  padding-bottom: 46px;

  @media (min-width: $tablet) {
    @include tablet();
    padding-bottom: 122px;
  }

  @media (min-width: $desktop) {
    @include no-fields();
    width: 951px;
    display: grid;
    grid-gap: 30px;
  }
}

.travellers__card {
  margin-bottom: 10px;
  padding: 15px 20px 22px;

  @media (min-width: $tablet) {
    margin-bottom: 39px;
    padding: 35px 25px 25px 35px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 0;
  }

  &:last-of-type {
    margin-bottom: 13px;

    @media (min-width: $tablet) {
      margin-bottom: 51px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  }
}

.travellers__link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.travellers__show-link {
  margin-bottom: 14px;
  position: relative;
  padding-left: 33px;
  @include font(17px, 30px, 700);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-blue-h2;

  @media (min-width: $tablet) {
    margin-bottom: 52px;
    padding-left: 51px;
    @include font(20px, 20px, 700);
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
    transition: 0.2s ease-in-out;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
    transition: 0.2s ease-in-out;
  }

  &::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: $basic-blue-h2;
    border-radius: 2px;

    @media (min-width: $tablet) {
      top: 8px;
      width: 26px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 8px;
    width: 2px;
    height: 18px;
    background-color: $basic-blue-h2;
    border-radius: 2px;

    @media (min-width: $tablet) {
      top: -3px;
      left: 12px;
      height: 26px;
    }
  }
}

.travellers__pagination {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
