.travellers__wrapper {
  @include wrapper();

  @media (min-width: $tablet) {
    @include tablet();
  }

  @media (min-width: $desktop) {
    @include no-fields();
    display: grid;
    grid-gap: 31px;
    width: 951px;
  }
}

.travellers__card {
  margin-bottom: 12px;
  padding: 14px 20px 22px;

  @media (min-width: $tablet) {
    margin-bottom: 39px;
    padding: 35px 25px 25px 35px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding: 0;
  }

  &:last-of-type {
    margin-bottom: 13px;

    @media (min-width: $tablet) {
      margin-bottom: 51px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
