.trip-card {
  counter-reset: myCounter;
}

.trip-card__item {
  position: relative;
  margin-bottom: 10px;
  padding: 24px;
  color: $basic-blue-h2;
  background-color: $white;
  border-radius: 10px;

  &::after {
    @include font(16px, 16px, 500);
    position: absolute;
    content: "1.";
    top: 23px;
    left: 25px;
    color: $basic-blue-h2;

    @media (min-width: $tablet) {
      @include font(20px, 20px, 500);
      top: 43px;
      right: 31px;
      left: auto;
    }

    @media (min-width: $desktop) {
      top: 40px;
      right: auto;
      left: 43px;
    }
  }


  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $alphabet-table;
    top: 62%;
    left: 0;
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }

  &:last-of-type {
    margin-bottom: 0;

    &::after {
      @include font(16px, 16px, 500);
      position: absolute;
      content: "2.";
      top: 23px;
      left: 25px;
      color: $basic-blue-h2;

      @media (min-width: $tablet) {
        @include font(20px, 20px, 500);
        top: 43px;
        right: 31px;
        left: auto;
      }

      @media (min-width: $desktop) {
        top: 40px;
        right: auto;
        left: 43px;
      }
    }
  }

  @media (min-width: $tablet) {
    padding: 40px 35px 15px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop) {
    padding: 37px 42px 36px 95px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.trip-card__header {
  @include no-fields();
  @include font(16px, 16px, 700);
  margin-bottom: 21px;
  padding-left: 18px;

  @media (min-width: $tablet) {
    @include font(24px, 24px, 700);
    margin-bottom: 54px;
    padding-left: 3px;
    width: 100%;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding-left: 0;
    max-width: 500px;
  }
}

.trip-card__bottom {
  @media (min-width: $tablet) {
    flex-basis: 630px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    flex-basis: 590px;
  }
}

.trip-card__travellers {
  @include no-fields();
  @include font(14px, 14px, 500);
  margin-bottom: 5px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    margin-right: 0;
    margin-bottom: 0;
    letter-spacing: 0.1em;
  }
}

.trip-card__dates {
  @include no-fields();
  @include font(14px, 14px, 500);
  margin-bottom: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    margin-left: auto;
    margin-right: 81px;
    margin-bottom: 0;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop) {
    margin: 0 128px 0 auto;
  }
}

.trip-card__change-button {
  @include a();
  @include font(14px, 14px, 500);
  color: $black;
  letter-spacing: 0.06em;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
    transition: 0.2s ease-in-out;
  }

  &:active {
    opacity: 0.1;
    transition: 0.2s ease-in-out;
  }

  @media (min-width: $tablet) {
    @include font(20px, 20px, 500);
    letter-spacing: 0.1em;
  }
}
