.user-list {
  list-style: none;
  background-color: $white;

  @media (min-width: $desktop) {
    display: none;
  }
}

.user-list__item {
  &:first-child {
    margin-bottom: 51px;
  }
}

.user-list__auth {
  padding: 12px 0 8px;
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }

  &:hover {
    background-color: $special_yellow_dark;
    transition: 0.3s ease-in-out;
  }

  &:active {
    transition: 0.2s ease-in-out;
  }
}

.user-list__link {
  @include a();
  display: flex;
  @include font(16px, 45px, 700);
  color: $basic-blue-medium;
}

.user-list__icon {
  margin-right: 16px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic-blue-icon;
  background-image: url(../../img/contacts-phone.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $tablet) {
    margin-right: 23px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: $basic-blue-icon;
  }
}

.user-list__contact {

  @media (min-width: $tablet) {
    @include font(28px, 68px, 700);
  }
}


