.user-list {
  @include ul();
  background-color: $white;

  @media (min-width: $desktop) {
    display: none;
  }

  @media (min-width: $desktop) {
    margin: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }
}

.user-list__item {
  position: relative;

  &:first-child {
    margin-bottom: 0;
  }
}

.user-list__auth {
  padding: 12px 0 8px;
  display: block;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    top: -196px;
    right: -55px;
    padding: 16px 28px 14px;
  }

  &:hover {
    background-color: $special_yellow_dark;
    transition: 0.3s ease-in-out;
  }

  &:active {
    transition: 0.2s ease-in-out;
  }
}

.user-list__link {
  @include a();
  @include font(16px, 45px, 700);
  display: flex;
  color: $basic-blue-medium;
}

.user-list__icon {
  margin-right: 16px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic-blue-icon;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-right: 23px;
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop) {
    position: relative;
    margin-right: 0;
    width: 50px;
    height: 50px;
    background-size: 20px 20px;

    &--phone {
      background-color: $special_orange;


      &:hover {
        background-color: $special_orange-saturate;
        transition: 0.2s ease-in-out;
      }

      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("../img/topmenu-phone.svg");
      }

      &:active::after {
        opacity: 0.3;
        transition: 0.2s ease-in-out;
      }
    }

    &--email {
      background-color: $special_yellow_dark;

      &:hover {
        background-color: $special_orange;
        transition: 0.2s ease-in-out;
      }

      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 16px;
        background-image: url("../img/topmenu-mail.svg");
      }

      &:active::after {
        opacity: 0.3;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.user-list__svg {
  width: 16px;
  height: 16px;
  fill: $basic-yellow;

  @media (min-width: $tablet) {
    width: 26px;
    height: 26px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.user-list__contact {
  @media (min-width: $tablet) {
    @include font(28px, 68px, 700);
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
